<ng-template #loadingTemplate>
    <span>Loading...please wait</span>
</ng-template>

<ng-template #errorTemplate>
    <span>{{errorMessage}}</span>
</ng-template>

<app-filter (filterValueChanged)="updateFilterText($event)"></app-filter>
<br>
<div *ngIf="isRequestComplete;else loadingTemplate">
    <div *ngIf="errorMessage=='';else errorTemplate">
        <div>
            <button type="button" (click)="updatePostCreator()">Update Created By</button>
        </div>
        <br>
        <div *ngIf="posts">
            <h4>Displaying List of posts</h4>
            <ol>
                <li *ngFor="let p of (posts|postFilter:filterText)">
                    <app-post-info [postData]="p"></app-post-info>
                </li>
            </ol>
        </div>
    </div>
</div>